HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
###1
77ujoCC4q6Os4+oh+uP64+Pn4KjgcUBpSWsyYXFVWfzw0Xt0U1FHTXZEQ2FUaVFlZUtVYHVmY2B7aXhgQ0VyYmVh+ufqbfrg+OX18fDxc/Dk4+Ly4OJn//LvYWE
###3
ROEI2URDAHGigeFEhsOry90mJ/5Hy4xb0kcYy0hMLDa9GFZmiDaWWxAQJbmkEGRkBxCThw4OZu2rCUftjAcXaxHkqGgIC8umDKssTExWW8ZMZCUliAqy2eKTczsnRtnZJiYHuUjSuTMM2dkmRAeIJpOI8Q
